@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Roboto:wght@500&display=swap');
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #262626;
    color: white;

    .icon{
        position: absolute;
        top: 0;
        margin: 15px;

        a{
            img{
                height: 8vh;
            }
        }
    }

    section{
        .top_page{
            display: flex;
            justify-content: center;
            padding-top: 50px;

            .title{
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;

                h1{
                    font-size: 80px;
                    font-family: 'Nanum Gothic', sans-serif;
                    font-weight: 500;
                }
                
                h3{
                    font-size: 50px;
                    font-family: 'Nanum Gothic', sans-serif;
                    font-weight: 500;
                }
            }

            div{
                margin: 0 20px;

                img{
                    display: flex;
                    height: 550px;
                    margin: 15px auto;
                }
            }
        }

        .menu{
            display: flex;
            position: absolute;
            bottom: 20px;
            width: 100%;

            div{
                width: 33%;
                text-align: center;

                a{
                    color: white;
                    text-decoration: none;
                    font-size: 40px;
                }
            }
        }
    }
}




//------------------- a props


body{
    main{
        display: flex;

        .left_side{
            margin: 0 3%;
            padding: 15vh 0;
            width: 35%;
            height: 100vh;

            img{
                height:300px;
                display: flex;
                margin: 0 auto;
            }

            p{
                margin: 2vh 0;
                text-align: center;
            }
        }

        .right_side{
            margin: 0 3%;
            padding: 20vh 0;
            width: 65%;
            height: 100vh;

            h2{
                font-size: 80px;
                font-weight: 900;
                color: #C9C9C9;
            }

            p{
                margin: 1vh 0;
            }
        }
    }   
}



//------------------- Projets


body{

    section{
        div{
            text-align: center;

            h2{
                font-size: 80px;
                font-weight: 900;
                color: #C9C9C9;
                margin: 10vh 0;
            }
        }

        .projets{
            display: grid;
            justify-content: center;
            height: auto;
            width: 90%;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 2%;
            margin: 0 auto;

            section{
                //background-color: red;
                margin: 1vh 0;
                width: 100%;
                height: 30vh;
                border: solid 2px #C9C9C9;
                background-color: black;

                img{
                    width: 90%;
                    height: auto;
                    margin: auto;

                }

                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}




//------------------- Cometences


body{
    //scroll-behavior: smooth;

    .competences_section{


        .first_row{
            display: grid;
            justify-content: center;
            height: auto;
            width: 90%;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 2%;
            margin: 5vh auto;

            div{
                height: 100px;
                width: 100px;
                margin: 3% auto;

                img{
                    object-fit: contain;

                    height: 100px;
                    width: 100px;
                }

                img:hover{
                    cursor: pointer;
                }
            }
        }

        .list{
            margin: 3vh 30%;
            margin-top: 10%;

            h3{
                margin-top: 10%;
            }
        }
    }
}





//------------------- Pages de projets

body{

    .p_projet{
        div{
            margin: 2vh auto;
            text-align: center;

            img{
                height: 500px;
                width: auto;
            }
        }

        p{
            width: 65%;
            margin: 5vh auto;
        }
    }
}

















//------------------- Responsive

@media only screen and (max-width: 800px) {
    .icon{
        position: sticky !important;
        top: 10px !important;
        margin: 10px !important;

        a{
            img{
                height: 6vh !important;
                width: auto !important;
            }
        }
    }




    //------------------- index

    .top_page{
        flex-direction: column;

        .title{
            h1{
                font-size: 50px !important;
            }
            
            h3{
                font-size: 30px !important;
            }
        }

        div{
            margin: 0 10px !important;

            img{
                height: 400px !important;
            }
        }
    }

    .menu{
        position: static !important;
        flex-direction: column !important;
        width: 100%;

        div{
            width: 80% !important;
            margin: 2vh auto;

            a{
                font-size: 30px !important;
            }
        }
    }





    //------------------- a props

    main{
        flex-direction: column;

        section{
            width: 80% !important;
            margin: 0 auto !important;
            padding: 5vh 0 !important;
            height: auto !important;
        }

        .right_side{
            h2{
                font-size: 40px !important;
            }

            p{
                font-size: 15px !important;
            }
        }
    }




    //------------------- Cometences
    .first_row{
        a{
            img{
                height: 50px !important;
                width: 50px !important;
            }
        }
    }

body .competences_section .list{
    margin: 3vh 10% !important;
}



    //------------------- Projets

    section{
        div{

            h2{
                font-size: 40px !important;
            }
        }

        .projets{
            grid-template-columns: 1fr !important;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;

            section{
                height: auto !important;
            }
        }
    }





    //------------------- Pages de projets

    body{

        .p_projet{
            div{
                img{
                    width: 90% !important;
                    height: auto !important;
                }
            }

            p{
                width: 90%;
                margin: 3vh auto;
                font-size: 15px;
            }
        }
    }




}